# Task 2: Interactive Choropleth Map – Global Installs by Category

Import Libraries

In [1]:
!pip install plotly

Requirement already satisfied: plotly in c:\users\pratham h shetty\anaconda3\envs\myenv\lib\site-packages (6.5.2)
Requirement already satisfied: narwhals>=1.15.1 in c:\users\pratham h shetty\anaconda3\envs\myenv\lib\site-packages (from plotly) (2.16.0)
Requirement already satisfied: packaging in c:\users\pratham h shetty\anaconda3\envs\myenv\lib\site-packages (from plotly) (26.0)

Install the pytz(Python Time Zone) Library

In [2]:
!pip install pytz
!pip install pandas

Requirement already satisfied: pytz in c:\users\pratham h shetty\anaconda3\envs\myenv\lib\site-packages (2025.2)
Requirement already satisfied: pandas in c:\users\pratham h shetty\anaconda3\envs\myenv\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.22.4 in c:\users\pratham h shetty\anaconda3\envs\myenv\lib\site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pratham h shetty\anaconda3\envs\myenv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pratham h shetty\anaconda3\envs\myenv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pratham h shetty\anaconda3\envs\myenv\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\pratham h shetty\anaconda3\envs\myenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

Import Libraries

In [3]:
import pandas as pd 
import plotly.express as px
import pytz
from datetime import datetime

Load Dataset

In [4]:
apps_df=pd.read_csv('Play Store Data.csv')

Data Cleaning (Installs Column)

In [5]:
# Remove '+' and ',' from Installs
apps_df['Installs'] = apps_df['Installs'].str.replace('+', '', regex=False)
apps_df['Installs'] = apps_df['Installs'].str.replace(',', '', regex=False)

# Convert to numeric
apps_df['Installs'] = pd.to_numeric(apps_df['Installs'], errors='coerce')

Remove Categories Starting With A, C, G, S

In [6]:
apps_df_filtered = apps_df[apps_df['Category'].str.startswith(('A', 'C', 'G', 'S'))]

Group by Category & Sum Installs

In [7]:
category_installs = apps_df_filtered.groupby('Category')['Installs'].sum().reset_index()

Get Top 5 Categories

In [8]:
top5 = category_installs.sort_values(by='Installs', ascending=False).head(5)
top5

        Category      Installs
4           GAME  3.508602e+10
3  COMMUNICATION  3.264728e+10
6         SOCIAL  1.406987e+10
5       SHOPPING  3.247849e+09
7         SPORTS  1.751174e+09

Highlight Categories with Installs > 1 Million

In [9]:
top5['Highlight'] = top5['Installs'] > 1000000
top5['Highlight']

4    True
3    True
6    True
5    True
7    True
Name: Highlight, dtype: bool

Assign Countries for Choropleth

In [10]:
#Since dataset contains no country column, assign the ISO country code
top5['ISO_Code'] = ['USA', 'IND', 'BRA', 'GBR', 'CAN']

Create Choropleth Map (Plotly)

In [12]:
fig = px.choropleth(
    top5,
    locations="ISO_Code",
    locationmode="ISO-3",
    color="Installs",
    hover_name="Category",
    title="Top 5 App Categories - Global Installs",
    color_continuous_scale="Viridis"
)

Time Restriction Logic (6PM – 8PM IST)

In [13]:
ist = pytz.timezone('Asia/Kolkata')
current_time = datetime.now(ist)
current_hour = current_time.hour

if 18 <= current_hour < 20:
    fig.show()
else:
    print("Choropleth map available only between 6 PM and 8 PM IST.")

Choropleth map available only between 6 PM and 8 PM IST.